doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/crafty.js')
    script(src='/javascripts/game.js')
  body
    block content